tr.selected
{
	background-color: #0080FF;
}

li.selected
{
	background-color: #0080FF;
}

#ws_packet_detail_view ul
{
	list-style-type: none;
}

#ws_packet_detail_view span.tree_expander
{
	margin-left: -15px;	
}

#packet_list_header tr
{
	white-space:  nowrap;
}

#packet_list_frames td
{
	white-space:  nowrap;
}

.ws_gui_text_valid      { background-color: #b0ffb0; }
.ws_gui_text_deprecated { background-color: #ffffb0; }
.ws_gui_text_invalid    { background-color: #ffb0b0; }
