tr.selected
{
	background-color: #0080FF;
}

li.selected
{
	background-color: #0080FF;
}

#ws_packet_detail_view ul
{
	list-style-type: none;
}

#ws_packet_detail_view span.tree_expander
{
	margin-left: -15px;	
}

#packet_list_header tr
{
	color: grey;
	white-space:  nowrap;
}

#packet_list_frames td
{
	white-space:  nowrap;
}

.ws_gui_text_valid      { background-color: #b0ffb0; }
.ws_gui_text_deprecated { background-color: #ffffb0; }
.ws_gui_text_invalid    { background-color: #ffb0b0; }

.ws_cell_protocol             { background-color: #E5E5E5; }
.ws_cell_expert_color_comment { background-color: #b7f8f4; }
.ws_cell_expert_color_chat    { background-color: #80b7f7; }
.ws_cell_expert_color_note    { background-color: #a0ffff; }
.ws_cell_expert_color_warn    { background-color: #f7f253; }
.ws_cell_expert_color_error   { background-color: #ff5c5c; }
